header,
section,
.container,
.header-links,
.intro-left,
.intro-right  {
    display: flex;
}

header,
.intro {
    background-color: #1F2937;
}

header {
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}

.header-links {
    font-size: 18px;
    color: #E5E7EB;
}