* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body,
header,
section,
.container,
.header-links,
.intro-left,
.intro-right,
.info-img-row,
.info-img {
    display: flex;
}

body {
    height: 100vh;
    flex-direction: column;
    margin: 0;
}

/* First section (including header) */
header,
.intro {
    background-color: #1F2937;
    flex: 1;
    padding: 0 250px;
}

header {
    align-items: center;
}

ul {
    list-style-type: none;
}

a, 
.hero-subtext {
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

.header-logo,
.hero,
.btn-signup {
    color: #F9FAF8;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    font-size: 18px;
    gap: 24px;
    margin-left: auto;
}

.intro {
    padding-top: 100px;
    padding-bottom: 100px;
}

.intro-left {
    flex-direction: column;
    margin-right: auto;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

.hero-subtext {
    margin-bottom: 12px;
}

.btn-signup {
    width: 100px;
    padding: 8px;
    border: 0;
    border-radius: 8px;
    background-color: #3882F6;
    font-weight: bold;
}

.img-placeholder {
    height: 200px;
    width: 500px;
    background-color: #b6b6b6;
}

/* Second section */
.info,
.info-img {
    flex-direction: column;
}

.info {
    align-items: center;
    padding-top: 30px;
    padding-bottom: 100px;
}

.info-heading {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.info-img-row {
    margin-top: 20px;
}

.info-img {
    gap: 10px;
}

.info-img-placeholder {
    height: 150px;
    width: 150px;
    border: 3px solid #3882F6;
    border-radius: 15px;
    align-self: center;
}

.info-img-subtext {
    width: 200px;
    text-align: center;
    margin: 0;
}

/* Third section */
.quote {
    flex-direction: column;
    background-color: #E5E7EB;
    padding-top: 80px;
    padding-bottom: 40px;
}

.quote-container {
    align-self: center;
}

.quote-text {
    width: 750px;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote-author {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

/* Fourth section */


/* Footer */
