body,
header,
section,
.container,
.header-links,
.intro-left,
.intro-right  {
    display: flex;
}

body {
    height: 100vh;
    flex-direction: column;
    margin: 0;
}

/* First section (including header) */
header,
.intro {
    background-color: #1F2937;
    flex: 1;
    padding: 0 250px;
}

header {
    align-items: center;
}

ul {
    list-style-type: none;
}

a, 
.hero-subtext {
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

.header-logo,
.hero {
    color: #F9FAF8;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    font-size: 18px;
    gap: 24px;
    margin-left: auto;
}

.intro-left {
    flex-direction: column;
    margin-right: auto;
}

.hero {
    font-size: 48px;
    font-weight: bolder;
    margin-bottom: 0;
}

.hero-subtext {
    margin-bottom: 12px;
}

.img-placeholder {
    height: 200px;
    width: 600px;
    background-color: #b6b6b6;
}

/* Second section */


/* Third section */


/* Fourth section */


/* Footer */
